.item {
    overflow: hidden;
     height: auto;
    width: 100%;
}


.item img {
    width: 100%;

}

.title {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
    color: brown
}

.contein {
    width: 60%;
    text-align: center;
    font-size: 19px;
    margin: 0 auto
}

#input {
    width: 30%;
}

#btn {
    margin: 2% 40%
}

.col-xs-6 img {
    width: 100%;
}
.col-xs-4 img{
padding: 1% 0;
}
footer{
background: gray;
    width: 100%;
    margin-top: 1%;
}

.slide{
    width: 95%;
    margin: 0 auto
}
.anh img{
    width: 40%;
    box-sizing: border-box
}
@media only screen and (max-width:425px) {
    .title {
        font-size: 20px;
    }
    li.active {
        box-sizing: border-box;
        width: 95%;
    }
    .contein {
        font-size: 11px;
    }
    .alert.alert-success {
        font-size: 10px;
    }
    .gt {
        font-size: 12px;
    }
    #btn {
        margin: 2% 25%;
        font-size: 10px;
    }
    h1 {
        font-size: 19px;
        color: brown;
    }
    .col-xs-6 {
        width: 95%;
      
    }
    .media-heading {
        font-size: 12px;
        color: brown;
    }

    .col-xs-3 {
        width: 50%;
        padding: 4% 1%;
    }

    
    footer {
       
        background: lightgrey;
      
    }
    .col-xs-4{
        width: 100%;
    }
    .anh {
        display: flex;
    }
    .anh img{
        width: 33%;
    }
    footer > div {
        font-size: 11px;
    }
}
