header {
    width: 100%;
    background: rgb(240, 199, 17);
    height: 55px;
}

header .table {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}


header .table .left_head {
    width: 40%;
    display: flex;
    align-items: center;
    background: black;
    cursor: pointer;
}

header .table .left_head img {
    width: 43%;
    height: 100%;
}

header .table .left_head input {
    width: 40%;
    height: 50%;
    margin-left: 2%;

}

header .table .right_head {
    display: flex;
    justify-content: space-between;
    width: 59%;
    align-items: center;
    justify-content: center
}

header .table .right_head>a {
    width: 16%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header .table .right_head a:hover {
    background: gray;
}

header .table .right_head img {
    width: 20%;
}

header .table .right_head .text_header {
    font-size: 15px;
}

header .table .right_head button {
    margin-left: 1%;
    cursor: pointer;
    width: 13%;
    border: none;
    border-radius: 7px;
    background: black;
    color: white;
    padding: 5px 1px;
}
.dropdown-item {
    background:lightsteelblue
}

.nav-item{
    display: none;
}
.dk{
    width: 107px;
    background: bisque;
    border-radius: 5px;
}
.body {
    width: 90%;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
}

.banner .left_banner {
    width: 65%;
}

.banner .left_banner a img {
    width: 100%;
    padding-top: 1%
}

.banner .right_banner {
    width: 33%;
}

.banner .right_banner a img {
    padding-bottom: 1%;
    width: 100%;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border: 1px solid gray;

}

.menu ul li {
    width: 13%;
    border-left: 1px solid gray;
}

.menu ul li>a img {
    width: 100%;
}

.body .text {
    padding: 1%;
    border: 1px solid gray;
    font-weight: bold;
    text-transform: uppercase;
}

.items {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1%;

}

.items ._1_item {
    text-decoration: none;
    color: black;
    width: 18%;
}

._1_item .anh_item {
    position: relative;
}

._1_item .anh_item img {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 2%;
    transition: 0.4s;
}

._1_item .anh_item .tra_gop_0 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1%;
    color: white;
    background: rgb(218, 162, 9);
    border-radius: 7px;
}

._1_item .gia_item {
    color: red;
    font-weight: bold;
}

._1_item .gioi_thieu {
    font-size: 14px;
}

._1_item:hover .ten_item {
    color: blue;
}

._1_item:hover .anh_item img {
    padding-bottom: 7%;
    padding-top: 2%;
}

.menu_foot ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1%;
    border: 1px solid gray;

}

.menu_foot ul li {
    width: 19%;
    text-align: center;
    border-left: 1px solid gray;
}

.menu_foot ul li a {
    color: black;
    text-decoration: none;
}

.menu_foot ul li a:hover {
    color: blue;
}

footer {
    padding: 1% 0;
    margin-top: 1%;
    background: white;
    background: lightgrey;
}

.contain_footer {
    width: 90%;
    margin: 0 auto;
}

footer .contain_footer .top_footer {
    display: flex;
    justify-content: space-between;
}

footer .contain_footer .top_footer ._1_col_footer ul {
    list-style: none;

}

footer .contain_footer .top_footer ._1_col_footer ul li a {
    text-decoration: none;
}

footer .contain_footer .top_footer ._1_col_footer ul li a:hover {
    color: black;
}

footer .contain_footer .bottom_footer {
    font-size: 12px;
    text-align: center
}

@media only screen and (max-width:1024px){

    header .table .right_head .text_header {
        font-size: 14px;
    }
    header .table .left_head img {
        width: 53%;
        height: 87%;
    }
    button.dangky ,.dangnhap {
        font-size: 11px;
    }
    .khuyen_mai {
        font-size: 14px;
    }
    .top_footer {
        font-size: 14px;
    }
}
@media only screen and (max-width:768px){
    header .table .left_head img {
        width: 53%;
        height: 70%;
    }
    footer .contain_footer .top_footer {
        font-size: 10px
    }
    header .table .right_head .text_header {
        font-size: 11px;
    }
    .contain_khuyen_mai {
        font-size: 13px;
       
    }
    .items_left ._1_item .text_left {
        width: 69%;
    }
    .khuyen_mai .text_khuyen_mai{
        font-size: 11px;
        left: 62%;
    }
    button.dangky , .dangnhap{
        font-size: 9px;
    }
    

@media only screen and (max-width:425px) {
    header {
        height:100%;
        width: 100%;
        background: black;
    }
    header .table .left_head img {
        width: 53%;
        height: 90%;
    }

    header .table .left_head {
        width: 100%;
    }

    .left_head img {
        width: 100%;
    }

    .right_head a {
        display: none;
    }
    .dangnhap,
    .dangky {
      display: none
    }
    .nav-item {
        display: flex;
        align-items: center;
      
    }
    .dropdown-menu{
        left: -150px;
    }
    

    header .table .right_head {
        width: 31%;
    }

    .menu ul {
        display: none;
    }
    .items ._1_item {
        width: 32%;
    }
    .gioi_thieu {
        display: none;
    }
    .menu_foot ul {
        display: none;
    }
    ._1_col_footer ul{
        display: none;
    }
}
@media only screen and (max-width:320px){
    header .table .left_head img {
        width: 67%;
        height: 100%;
    }
   
    }